// check
@mixin checkLine {
  outline: 1px solid red;
}

// media query
$mobile: 768px;

// brand
$primary-color: #468a99;
$secondary-color: #e49b6e;

// brand
$gray900: #1a1a1a;
$gray700: #4d4d4d;
$gray500: #808080;
$gray300: #b3b3b3;
$gray100: #e6e6e6;
