@import "variables", "base";

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

header {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.25);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    nav {
      ul {
        @media (max-width: $mobile) {
          display: none;
        }

        li {
          // flex로 변경할 것
          display: inline;
          margin-left: 40px;

          a {
            color: black;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }

    .toggle {
      display: none;

      @media (max-width: $mobile) {
        display: inline;
        background-color: transparent;
        border: none;
      }
    }
  }
}

.main-visual {
  background-color: $primary-color;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 105px;
    padding-bottom: 105px;

    img {
      @media (max-width: $mobile) {
        width: 80%;
      }
    }
  }
}

#portfolio {
  h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: calc(36px * 0.5);

    @media (max-width: $mobile) {
      font-size: 20px;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: $mobile) {
      display: block;
    }

    li {
      margin-bottom: 40px;
      width: calc((100% - 20px * 3) / 4);

      @media (max-width: $mobile) {
        width: auto;
      }

      img {
        width: 100%;
      }

      h3 {
        font-weight: normal;
        font-size: 16px;
      }
    }
  }
}

footer {
  border-top: 1px solid rgba($color: #000000, $alpha: 0.25);
  text-align: center;

  .container {
    padding-top: 40px;
    padding-bottom: 40px;

    .footer-logo {
      margin-bottom: 14px;
    }
  }
}
